body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00171F;
  color: #FAFAFA;
}
/* :root {
  height: 100%;
} */
.main-nav ul {
  list-style: none;
  flex-direction: column;
}

.result {
  align-self: center;
}

.thankRadioGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline
}

.container-title{
  display: flex;
  align-items: center;
  justify-content: center;
}